@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #E6E3DB;
	--foreground: #0F0E0A;
	--primary: #C6A37D;
	--secondary: #B6BBAB;
	--tertiary: #A5AE9B;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
	color: var(--foreground);
	background-color: var(--background);
	margin: 0;
}

.canvas {
	max-width: 1000px;
	margin: 10px auto;
	padding: 75px;
}

h1 {
	font-size: 24px;
	font-weight: 600;
	padding-bottom: 1rem;
}

h3 {
	font-size: 24px;
	font-weight: 600;
}

h4 {
	font-size: 18px;
}

nav {
	margin-bottom: 48px;
	color: var(--tertiary);

	a:hover {
		color: var(--primary);
	}
}

/* REVIEWCARD STYLES */
.review-card {
	background-color: #c7c4bd;
	color: var(--background);
}


.review-card:hover {
	background-color: var(--tertiary);

	.review-details {
		visibility: visible;
	}
}

.review-details {
	visibility: hidden;

	p {
		font-size: 14px;
	}
}

.date-tag {
	p {
		font-size: 12px;
	}
}

.review-tags-section {
	p {
		font-size: 16px;
		font-weight: 600;
	}

	.selected {
		opacity: 100%;
	}
}